main img {
    display: block;
    margin: 0 auto;
}
/*gallery*/

header, nav,main,footer{
    display: block !important;
}
nav h1 {
  margin: 0 auto;
}

h1{
padding-top:20px;
padding-bottom: 20px;
}
#contactme{
    text-align: center;
}

.softwaretools{
    font-size: 0.8rem;
}

a{
    /* color: #13480f; */
    color: #87cdf6;/*#87cdf6;*/
    text-decoration: none;
}


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #999;
    background-color: #000;
}

h3{
    font-style:normal;
}
header h2{
    color: #999;
}

header {
	padding: 20px 0 20px 0;
    /* background: linear-gradient(  #13480f,#000); rgb(2, 141, 106) */
    background: #000;    
}

#carouselExample {
  max-width: 800px; /* or 100% for full width */
  height: 800px;
  margin: auto; /* center it horizontally */
}

#carouselExample .carousel-item img {
  object-fit: contain;
  max-height:800px;
  max-width:800px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent dark */
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6) !important; /* circle color */
  border-radius: 50% !important;
  width: 3rem !important;
  height: 3rem !important;
  background-size: 0.5rem 0.5rem; /* keep arrow smaller inside */
}

.carousel-item img{
    display: flex;
    align-items: center;   /* vertical centering */
    justify-content: center; /* horizontal centering */
    /*height: 800px; match your carousel height */
}




.currentpageid{
    color: #fff;

}


header h1 {
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  white-space: normal; /* allow wrapping */
    font-family: 'Roboto', sans-serif;
    color: #999;
   text-align: center;
}
main h1{
    font-style: normal;
    font-family: 'Roboto', sans-serif, arial, sans-serif;
    color: #FFF;
}
main h2{
    font: 'source sans pro', arial, sans-serif;
}


p img{
    width: 190%;
    height: 190px;
   border-style: solid;
    border-width: 0px;
}
p{
    font-size: 1.2 rem;
    line-height: 1.8;
}
main{
    grid-area: content;
    font-size: 1.2em;
    text-align: justify;
}

footer{
   padding: 2%;
    font-size: 0.8em;
    float:right;
    margin: 0px;
    color: #13480f;
    text-align: right;

}
footer a{
    text-decoration: none;
    color: #87cdf6;

}
footer a:hover{
    color: #fff;
}


footer a{
    text-decoration: none;
}

#headshot{
display: none;
/* border-radius: 30px; */
margin: 20px 20px 20px 20px;

}
section a{
    text-decoration: none;
    color: #87cdf6;
}
/*///////////////////////////////////////////////////////////////////// tablet */

.navbar {
  background-color: #fff; /* or whatever color you want */
}




@media screen and (min-width: 480px){
 
        
    #headshot{
        display: block;
        width: 300px;
       height: 300px; 
       float: left;
       /* margin-top:20px; */
   }
   
    .softwareprojimg{
        width: 25%;
        height: 25%; 
        float: left;
        margin: 0px 20px 20px 20px;
    }

img {
  display: block;
  margin: 0 auto;
}
 

footer{
    color:#87cdf6;
background-color: black;
}
section p{
    margin-top: 0px;
}
}
/**/
/*///////////////////////////////////////////////////////////////////// desktop*/

 

